* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  border: 5px solid forestgreen;
  padding: 20px;

  background-color: palegreen;

  display: flex;
  justify-content: center;
}

.menu {
  width: 90vw;
  border: 5px solid blue;
  padding: 5px;

  background-color: powderblue;

  display: flex;
}

.date,
.signup,
.login {
  margin: 5px;
  border: 5px solid brown;
  padding: 3px;

  background-color: lightcoral;

  flex: 1;
}

.signup,
.login {
  border: 5px solid mediumpurple;

  background-color: lavender;
}
