* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  height: 200px;
  border: 5px solid forestgreen;
  background-color: palegreen;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.menu {
  height: 100px;
  border: 5px solid brown;
  background-color: lightcoral;
  padding: 10px;
  margin: 25px;
  display: flex;
  justify-content: space-around;
}

.date {
  height: 50px;
  border: 5px solid steelblue;
  background-color: lightsteelblue;
  margin: 10px;
  padding: 10px;
  flex: 1;
}

.signup {
  height: 50px;
  border: 5px solid darkorchid;
  background-color: lavenderblush;
  margin: 10px;
  padding: 10px;
  flex: 1;
}

.login {
  height: 50px;
  border: 5px solid mediumpurple;
  background-color: lavender;
  margin: 10px;
  padding: 10px;
  flex: 1;
}
