* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  height: 100px;
  border: 5px solid forestgreen;
  background-color: palegreen;
  padding: 20px;
}

.menu {
  height: 50px;
  border: 5px solid brown;
  background-color: lightcoral;
  padding: 10px;
}

.date {
  height: 20px;
  border: 5px solid steelblue;
  background-color: lightsteelblue;
}

.signup {
  height: 20px;
  border: 5px solid salmon;
  background-color: peachpuff;
}

.login {
  height: 20px;
  border: 5px solid mediumpurple;
  background-color: lavender;
}
